html {
    font-size: 18px;
    background: #DEEDF0;
}

.home-screen {
    display: flex;
    flex-direction: row;
}

.photo-socials {
    display: flex;
    flex-direction: column;
}

.photo {
    width: 360px;
    height: 286px;
    display: flex;
    align-items: center;
    a margin: 1rem;
    border-radius: 60px;
    background: rgba(253, 250, 250, 0.97);
}

.socials {
    margin: 1rem;
    background: rgba(253, 250, 250, 0.97);
    border-radius: 60px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.5rem;
    row-gap: 0.5rem;

}

.aboutMe {
    margin: 1rem;
    background: rgba(253, 250, 250, 0.97);
    border-radius: 60px;
}